.container{
    width: 100%;
}

.row{
    display: flex;
    flex-direction:row;
}

.col-6{
    display:flex;
    /*flex-basis: 25%;*/
    text-align: right;
    flex-direction:row;
    flex-wrap: wrap;
}

.col--title{
    justify-content:space-between;
}

.catalog-mass-delete-action{
    align-items: baseline;
    margin-top: 25px;
    display: flex;
    flex-basis: 20%;
    flex-direction: row;
}
.col-12{
    display:flex;
    flex-basis: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.card{
    display:flex;
    flex-basis: 15%;
    flex-direction:column;
    border-style:groove;
    justify-content: space-between;
    margin:10px;
    padding-bottom: 10px;
}
.btn--apply{
    background: #e8b280;
    height: 30px;
    border-radius: 15px;
    font-size: medium;
    font-style: oblique;
    margin-left: 10px;
}

@media screen and (max-width:540px) {
    .card{
        flex-basis: 45%;
    }
}

@media screen and (max-width:480px) {
    .card{
        flex-basis: 100%;
    }
}
