.container{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.col-12{
    display:flex;
    flex-basis:100%;
    flex-direction: column;
    text-align:center;
}

.button-default{
    background: #e8b280;
    height: 50px;
    border-radius: 15px;
    font-size: medium;
    font-style: oblique;
    margin-top: 15px;
}