.container{
    width: 100%;
}

.row{
    display: flex;
    flex-direction:row;
}

.frm--row{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: nowrap;
}

.product-add-save{
    margin-top: 25px;
    display: flex;
    flex-basis: 20%;
}

.col-12{
    display: flex;
    flex-basis: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.col--title{
    justify-content:space-between;
}

.product-add-save{
    align-items: baseline;
    margin-top: 25px;
    display: flex;
    flex-basis: 20%;
    flex-direction: row;
}

.btn--apply{
    background: #e8b280;
    height: 30px;
    font-size: medium;
    font-style: oblique;
    margin-left: 10px;
}

.frm--new-product{
    display:flex;
    flex-basis:100%;

}

.frm--new-product__row{
    display:flex;
    flex-direction:row;
    justify-content: right;
    margin-bottom:10px;
    align-items: baseline;
}

.input--label{
    margin-right:5px;

}